<!-- <nav class="navbar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Super Team Picker</a>
    </li>
  </ul>
  <ul style="float: right" class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
  </ul>
  <ul style="float: right" class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/cohort">Cohorts</a>
    </li>
  </ul>
  <ul style="float: right" class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/cohort/new">New Cohort</a>
    </li>
  </ul>
</nav>
<br />
<hr /> -->

<nav style="background-color: #3c565b" class="navbar">
  <div class="container-fluid">
    <a style="color: white; font-size: x-large" class="navbar-brand" href="/">
      <img
        src="https://dcassetcdn.com/design_img/2904914/675470/675470_16277555_2904914_67a08e08_image.jpg"
        alt="Logo"
        width="50"
        height="44"
        class="d-inline-block align-text-top"
      />
      Super Team Picker
    </a>

    <ul class="nav justify-content-end">
      <li style="margin-right: 10vw" class="nav-item">
        <a style="color: white; font-size: x-large" class="nav-link" href="/"
          >Home</a
        >
      </li>
      <li style="margin-right: 10vw" class="nav-item">
        <a
          style="color: white; font-size: x-large"
          class="nav-link"
          href="/cohort"
          >Cohort</a
        >
      </li>
      <li class="nav-item">
        <a
          style="color: white; font-size: x-large"
          class="nav-link"
          href="/cohort/new"
          >New Cohort</a
        >
      </li>
    </ul>
  </div>
</nav>
